.ProductList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    > div {
        margin: 20px;
        width: 200px;
    }
}

.ProductThumbnail {
    width:100%;
    display: flex;
    justify-content: center;
    padding-top:35px;      

    img {
        width:120px;
    }
}