@import "~antd/dist/antd.css";

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px*/
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2e2e2e;
}

.container-fluid {
	padding: 0;
}

.sidebar {
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
}

.content {
	background: "green";
	min-height: calc(100vh - 175px);
}

.row{
    margin:0;
}
.col {
    padding: 0;
}
footer {
	background-color: blue;
}

